.container {
  background: #000200;
}
.wallet-adapter-button-trigger {
  box-sizing: border-box;
  background: #eca418;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.43);
}

.home-page-h1 {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
  margin: 0;
}

.gradient {
  background: linear-gradient(90deg, #eca418 1.49%, #ffffff 107.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-page-h2 {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  color: #ffffff;
  margin: 0;
}

.p {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 56px;
  color: #ffffff;
  margin: auto;
}

.code-page-file-explorer {
  display: flex;
  flex-direction: column;
}

.code-page-file-explorer,
.code-page-prompt {
  cursor: pointer;
}

.code-page-file-explorer,
.code-page-prompt,
.code-page-diagram,
.code-page-code-window {
  background-color: #3e3e3e;
  border-color: #ffb016;
  border-width: 1.33px;
  padding: 15px;
  color: #ffffff;
}

.code-page-subfile,
.docs-page-subdirectory {
  margin-left: 5px;
}

.code-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
  padding: 20px;
  gap: 20px;
}

.code-page-left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  gap: 20px;
}

.code-page-upper-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.code-page-background,
.docs-page-background {
  background-color: #3e3e3e;
  height: 100vh;
  width: 100vw;
}

.docs-page-container {
  display: grid;
  grid-template-columns: 3fr 12fr 4fr;
  height: 90%;
  padding: 0 20px 20px 20px;
  color: #ffffff;
}

.docs-page-content {
  padding: 20px;
}

.docs-page-interdocs {
  cursor: pointer;
  border-right: 1.33px solid #ffb016;
}

.docs-page-intradocs {
  cursor: pointer;
  border-left: 1.33px solid #ffb016;
  height: fit-content;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.docs-page-selected-doc {
  color: #ffb016;
}
