.container {
  background: #000200;
  padding: 0 2em;
}

.wallet-adapter-button-trigger {
  box-sizing: border-box;
  background: #2a251d;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.43);
}

.nav-bar-card {
  box-sizing: border-box;
  background: #ffffff;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.43);
}

.card {
  /* Secondary-button */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 62px;
  gap: 10px;

  position: absolute;
  width: 183px;
  height: 55px;

  background: #eca418;
  border: 3px solid #ffffff;
  border-radius: 8px;
}

.home-page-h1 {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  color: #ffffff;
  margin: 0;
}

.gradient1 {
  background: radial-gradient(#ffbd3a 10%, #977021 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient2 {
  background: linear-gradient(90deg, #ffbd3a 1.49%, #977021 107.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient3 {
  background: linear-gradient(-90deg, #ffbd3a 1.49%, #977021 107.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-page-h2 {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  color: #ffffff;
  margin: 0;
}

.p {
  font-family: 'Mona Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 56px;
  color: #ffffff;
  margin: auto;
  text-align: center;
}

.code-page-file-explorer {
  display: flex;
  flex-direction: column;
}

.code-page-file-explorer,
.code-page-prompt,
.code-page-diagram,
.code-page-code-window {
  background: #1f1f1f;
  /* background-color: #3e3e3e; */
  border-color: #ffb016;
  border-width: 1.33px;
  padding: 15px;
  color: #ffffff;
}

.code-page-subfile,
.docs-page-subdirectory {
  margin-left: 5px;
}

.code-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
  padding: 20px;
  gap: 20px;
}

.code-page-left {
  display: grid;
  grid-template-rows: 3fr 2fr;
  height: 100%;
  gap: 20px;
}

.code-page-upper-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.code-page-background,
.docs-page-background {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  /* background-color: #3e3e3e; */
  height: 110vh;
}

.code-page-prompt-input,
.code-page-storage-select {
  background: #1f1f1f;
  border: 1px solid #ffb016;
  color: #ffffff;
  padding: 5px;
}

.code-page-prompt-input {
  width: 92%;
}

.code-page-prompt-input:focus,
.code-page-storage-select:focus,
.code-page-written-prompt:focus {
  outline: none;
}

.code-page-storage-prompt {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.code-page-storage-heading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.code-page-entry-row-right {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.code-page-entry-row-right-button {
  grid-column-start: 3;
}

.code-page-prompt-proceed-button,
.code-page-prompt-button,
.code-page-entry-row-right-button,
.code-page-toggle-button,
.code-page-toggle-button-active {
  border: 1px solid #ffb016;
  padding: 5px 10px 5px 10px;
  color: #ffb016;
}

.code-page-toggle-button-active,
.code-page-toggle-button {
  margin: 20px;
}

.code-page-written-prompt {
  background: #1f1f1f;
  border: 1px solid #ffb016;
  padding: 20px;
  resize: none;
  height: 70%;
  width: 100%;
}

.code-page-written-prompt-button-container {
  display: flex;
  gap: 20px;
  align-self: flex-end;
  padding-top: 20px;
}

.code-page-prompt-button-container {
  align-self: flex-end;
  display: flex;
  gap: 20px;
}

.code-page-bottom {
  display: flex;
  justify-content: space-between;
}

.code-page-button-container {
  padding: 0px 20px 20px 20px;
  align-self: flex-end;
  display: flex;
  gap: 20px;
}
.code-page-prompt-button:hover,
.code-page-prompt-proceed-button:hover,
.code-page-entry-row-right-button:hover,
.code-page-toggle-button-active {
  color: #1f1f1f;
  background-color: #ffb016;
}

.code-page-initial-prompt:hover {
  color: #ffb016;
}

.code-page-attributes-list {
  margin-left: 20px;
}

.docs-page-container {
  display: grid;
  grid-template-columns: 3fr 12fr 4fr;
  height: 90%;
  padding: 0 20px 20px 20px;
  color: #ffffff;
}

.docs-page-content {
  padding: 20px;
}

.docs-page-interdocs {
  cursor: pointer;
  border-right: 1.33px solid #ffb016;
}

.docs-page-intradocs {
  cursor: pointer;
  border-left: 1.33px solid #ffb016;
  height: fit-content;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.docs-page-selected-doc {
  color: #ffb016;
}
